// Breakpoints
$bp-xs: 425px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// Fonts
$font-base: 'Manrope';
$font-inter: 'Inter';
$font-jakarta: 'Plus Jakarta Sans';
$font-radio: 'Radio Canada Big';

:root {
  --spacing-inline: 9.2rem;
  @media screen and (max-width: $bp-lg) {
    --spacing-inline: max(4.6rem, 16px);
  }
}
