%heading-base {
  font-weight: 800;
  line-height: 130%;
  color: var(--text-clr);
}

.heading-xl {
  @extend %heading-base;
  --text-clr: #2f1904;
  font-size: 5.4rem;
}

.heading-lg {
  @extend %heading-base;
  --text-clr: #5f3207;
  text-align: center;
  font-size: 4.4rem;
}

.heading-md {
  @extend %heading-base;
  --text-clr: #e8e9eb;
  font-size: 3.6rem;
}
